<div class="center jumbotron">
  <h1>Welcome to Strength On Rails!</h1>
  <div>
    <p>A simple workout tracking application written in Ruby on Rails</p>
    <div class="">
      <% if !logged_in? %>
        <%= link_to "Sign Up", sign_up_path,class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
  <div>
    <div>

    </div>
  </div>
</div>